<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #c404ea;
    background: 100vh;
}

=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #c404ea;
    background: 100vh;
}

>>>>>>> 2ce8a083886fa1fb8bcf476849fb7aa58489347c
